.swiper-slide {
    transition: all 0.4s ease;
    filter: blur(4px);
    opacity: 0.5;
    transform: scale(0.9);
}

.swiper-slide-active {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
}

.swiper-slide-next,
.swiper-slide-prev {
    filter: blur(0.5px);
    opacity: 0.8;
    transform: scale(0.95);
}