@import "tailwindcss";

html,
body,#root {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}


@keyframes infiniteLinearTextTravel {
 0%{
  left:0%
 }
 100%{
  left:-800%
 }
}

.animate-linearLoop{
  animation: infiniteLinearTextTravel 200s  linear  infinite;
}
.animate-linearLoop-smalldevices{
  animation: infiniteLinearTextTravel 100s  linear  infinite;
}
