@import "tailwindcss";

html,
body,#root {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}


@keyframes infiniteLinearTextTravel {
 0%{
  left:200%
 }
 100%{
  left:-200%
 }
}

.animate-linearLoop{
  animation: infiniteLinearTextTravel 20s  linear  infinite  forwards;
  
}
